
.geral-blog-desktop{
    background-image: url(../pictures/images/sitesimages/Design\ sem\ nome\ \(35\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 740px;
    display: block;
}

.blogs-card{
    display: flex;
    justify-content: space-evenly;
    height: 440px;
    margin-top: 50px;
}

.card-blogs{
    width: 25%;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.card-img-top{
    border-radius: 15px;
}

.blog-text p{
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 30px;
    
}

a.blog-link{
   text-decoration: none;
   color: black;
   background-color: transparent;
}

a.blog-link:hover{
    color: rgba(0, 0, 0, 0.486);
    background-color: transparent;
    border: none;
}

.geral-blog-mobile{
    display: none;
}

button.btn-blog{
    background-color: #e85303;
    color: white;
    border: none;
    border-radius: 40px;
    width: 20%;
    margin-left: 40%;
    font-size: 16px;
    text-align: center;
    /* padding-left: 25px; */
    height: 60px;
    margin-top: 40px;
}

button.btn-blog:hover{
    background-color: #e85303a0;
}

/* Estilo inicial dos cards (invisíveis e deslocados) */
/* Estilo inicial dos cards (invisíveis e deslocados) */
.card-blogs {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  /* Estilo aplicado quando a animação estiver ativa */
  .card.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  

@media only screen and (max-width:1000px) and (min-width:501px){
    .blogs-card{
        display: flex;
        justify-content: space-evenly;
        height: 500px;
        margin-top: 50px;
    }


    .geral-blog-desktop{
        background-image: url(../../uxpages/pictures/images/sitesimages/Design\ sem\ nome\ \(35\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 800px;
    }
}

@media only screen and (max-width:500px){
     .geral-blog-desktop{
        display: none;
     }

     .geral-blog-mobile{
        display: block;
        background-image: url(../../uxpages/pictures/images/sitesimages/Design\ sem\ nome\ \(35\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 770px;
     }

     .card-blogs{
        width: 80%;
        margin-left: 10%;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
        margin-top: 50px;
    }

    .carousel-control-prev{
        margin-left: -px;
    }

    .carousel-control-next{
        margin-right: -px;
    }

    button.btn-blog{
        background-color: #e85303;
        color: white;
        border: none;
        border-radius: 40px;
        width: 40%;
        margin-left: 30%;
        font-size: 16px;
        text-align: center;
        /* padding-left: 25px; */
        height: 60px;
        margin-top: 40px;
    }
}
