
.inscreva{
    display: flex;
    justify-content: space-around;
    width: 70%;
    border-radius: 15px;
    background-color: white;
    height: 250px;
    margin-top: 100px;
    padding-top: 90px;
    margin-left: 15%;
    box-shadow: 0px 5px 10px 0px rgb(154, 154, 154);
    z-index: 150;
    position: relative;
    margin-bottom: -100px;
}

.input-group{
    height: 30%;
    width: 50%;
    border-radius: 25px;
}

.form-control{
    border-radius: 15px;
}

.text-inscreva h6{
    margin-top: -10px;
    width: 340px;
    color: #e85303;
    font-size: 25px;
}

.text-inscreva p{
    color: rgb(0, 97, 133);
}

button.novidades{
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 97, 133);
    color: white;
}

@media only screen and (max-width:500px){
    .inscreva{
        display: grid;
        justify-content: space-around;
        width: 80%;
        border-radius: 15px;
        background-color: white;
        height: 250px;
        margin-top: 100px;
        padding-top: 40px;
        margin-left: 10%;
        box-shadow: 0px 5px 10px 0px rgb(154, 154, 154);
        z-index: 150;
        position: relative;
        margin-bottom: -100px;
    }

    .text-inscreva h6{
        margin-top: -10px;
        width: 90%;
        margin-left: 5%;
        color: #e85303;
        font-size: 25px;
        text-align: center;
    }

    .text-inscreva p{
        color: rgb(0, 97, 133);
        text-align: center;
    }

    .input-group{
        height: 50%;
        width: 90%;
        border-radius: 25px;
        margin-left: 5%;
    }

    .novidades{
        width: 40%;
        font-size: 13px;
    }
}