#robbu-whatsapp-button {
    position: fixed!important; /* ou absolute, dependendo de onde você quer que ele fique */
    z-index: 4000!important;
    bottom: 20px; /* Ajuste a posição conforme necessário */
    right: 20px; /* Ajuste a posição conforme necessário */
}


.negocio-desktop{
    display: block;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 10%;
}

.negocio-desktop .card{
    width: 22%;
}

.card{
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}



.card-body a:hover{
    background-color: transparent;
}

a.btn{
    background-color: #e85303;
    color: white;
    border: none;
    border-radius: 40px;
    width: 70%;
    /* margin-left: -10%; */
    font-size: 14px;
    text-align: center;
    /* padding-left: 25px; */
    height: 35px;
}

.card-body a:hover{
    background-color: white;
    color: rgb(232, 83, 3);
    border: 1px solid rgb(232, 83, 3);
}

.carousel{
    display: none;
}

.card-color-diferent{
    background-color: rgb(246, 244, 244);
}

.card-neg {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  /* Estilo aplicado quando a animação estiver ativa */
  .card.show {
    opacity: 1;
    transform: translateY(0);
  }

@media only screen and (max-width:1000px){
    .carousel{
        display: block;
        background-color: transparent;
        margin-bottom: 30px;
    }

    .negocio-desktop{
        display: none;
    }

    .card{
        width: 80%;
        margin-left: 10%;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    }

    .carousel-control-next-icon {
        background-image: url(../pictures/icons/next\ \(1\).png);
        margin-left: 20px;
    }

    .carousel-control-prev-icon {
        background-image: url(../pictures/icons/back.png);
        margin-right: 20px;
    }
}